/* style for he html and body */
html, body {
   height: 100%;
   color: aliceblue;
}
/* background for user page */
.userPage{
   height: 100%;
   background-color:#86c8bc;
   background-color: #e5e5f7;
   opacity: 0.9;
   background-image:  linear-gradient(30deg, #86c8bc 12%, transparent 12.5%, transparent 87%, #86c8bc 87.5%, #86c8bc), linear-gradient(150deg, #86c8bc 12%, transparent 12.5%, transparent 87%, #86c8bc 87.5%, #86c8bc), linear-gradient(30deg, #86c8bc 12%, transparent 12.5%, transparent 87%, #86c8bc 87.5%, #86c8bc), linear-gradient(150deg, #86c8bc 12%, transparent 12.5%, transparent 87%, #86c8bc 87.5%, #86c8bc), linear-gradient(60deg, #86c8bc77 25%, transparent 25.5%, transparent 75%, #86c8bc77 75%, #86c8bc77), linear-gradient(60deg, #86c8bc77 25%, transparent 25.5%, transparent 75%, #86c8bc77 75%, #86c8bc77);
   background-size: 20px 35px;
   background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
/* have used the aid of https://www.magicpattern.design/tools/css-backgrounds to create the background for the user page */

/* styling the main div  */
.userPageSavedDivMain {
   display: flex;
   height: 90%;
   padding-top: 2rem;
   margin: auto;
   width: 80%;
   gap: 2rem;
}
/* styling the left box */
.userDivLeft {
   flex: 1;
   margin: 10px;
   border-radius: 10px;
   background-color:#5d978d;
}
/* styling the right box */
.userDivRight {
   flex: 1; 
   margin: 10px;
   border-radius: 10px;
   background-color:#5d978d;
   overflow-y: scroll;
}

/* styling the H1 */
.userPageSaved, .userH1 {
   margin: 10px;
   padding: 10px;
}
.userH1 {
   color: #aad0cb;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
/* styling the horizontal line */
hr {
   border: 2px solid #aad0cb;
   width: 95%;
   }
/* styling the image */
.userPageImg {
   display: block;
   margin: auto;
   width: 90%;
}

/* resize when screen becomes smaller than 760px*/
@media only screen and (max-width: 760px) {

   .userH1 {
      font-size: 17px;
   }
  .userPageSavedDivMain {
   display: block;
   /* padding-top: 0; */
   /* padding: 1; */
   /* margin-bottom: 100px; */
  

  }
  .userDivRight {
   max-height: 60vh;
   
  }
}